@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(image-zoom-in) {
    0%   {
        width:0;
        height: auto;
    }
    25%  {
        width:50%;
        height: auto;
    }
    50%  {
        width: 90%;
        height: auto;
    }
    100% {
        width: 100%;
        height: auto;
    }
}
.image-animate-zoom-in {
  @include animation('image-zoom-in .5s 1');
} 

@include keyframes(shake-on-hover) {
    0%   {
        transform: scale(1.2);
    }
    50%  {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
.image-animate-shake-on-hover:hover{
    ng-md-icon{
        @include animation('shake-on-hover .3s 1');
    }
}

